ORIGINS=http://localhost:8000
PORT=8000
ROOT_PATH=/api/v1

ACCESS_TOKEN_EXPIRE_MINUTES=5
AUTH_ALGORITHM=<алгоритм хэширования>
SECRET_AUTH_KEY="<строка с секретным ключом для хэширования для аутентификации>"

POSTGRES_SCHEMA=public
POSTGRES_HOST=postgres
POSTGRES_DB=my_fastapi_postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<пароль от БД>
POSTGRES_RECONNECT_INTERVAL_SEC=1

<!-- строки в треугольных скобках заменить вместе с треугольными скобками на свои данные, соответствующие содержанию строк.
     остальные данные также можно редактировать. Строки 17 и 18 являеются комментариями => их можно удалить. -->